<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MimeKit" version="3.0.0" targetFramework="net462" />
  <package id="MsgKit" version="2.5.1" targetFramework="net462" />
  <package id="OpenMcdf" version="2.2.1.9" targetFramework="net462" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net462" />
</packages>